extends layout

block stylesheets
    link(rel='stylesheet', href='/stylesheets/common.css')

block content
    .container
        form.comment-form(method='post', action='/user/register', enctype='multipart/form-data')
            .form-group
                label(for='name') Name
                input#name.form-control(type='text', name='name', placeholder='Name')
                if (errors)
                    if (errors.name)
                        .error
                            .text-danger= errors.name.msg
            .form-group
                label(for='username') Username
                input#username.form-control(type='text', name='username', placeholder='Username')
                if (errors)
                    if (errors.username)
                        .error
                            .text-danger= errors.username.msg
            .form-group
                label(for='email') Email
                input#email.form-control(type='email', name='email', placeholder='Email')
                if (errors)
                    if (errors.email)
                        .error
                            .text-danger= errors.email.msg
            .form-group
                label(for='password') Password
                input#password.form-control(type='password', name='password', placeholder='Password')
                if (errors)
                    if (errors.password)
                        .error
                            .text-danger= errors.password.msg
            .form-group
                label(for='password2') Confirm Password
                input#password2.form-control(type='password', name='password2', placeholder='Confirm Password')
                if (errors)
                    if (errors.password2)
                        .error
                            .text-danger= errors.password2.msg
            .form-group
                label(for='profileImg') Profile Image:
                input#profileImg.form-control(type='file', name='profileImg', placeholder='Profile Image')
                if (errors)
                    if (errors.profileImg)
                        .error
                            .text-danger= errors.profileImg.msg

            button.btn.btn-primary.mb-2(type='submit') Submit
        p Have an account?
            a(href='/user/login') Login